<div class="sidebar pure-u-1 pure-u-md-1-4">
  <div class="header">
    {{ partial "sidebarheader.html" . }}

	{{ if .Site.Params.sidebarphoto}}
	  <img src="{{.Site.Params.sidebarphoto}}" class="sidebarphoto">
	{{ end }}

    {{ if .Site.Params.sidebartitle }}<h1 class="brand-title">{{ .Site.Params.sidebartitle }}</h1>{{ end }}
    {{ if .Site.Params.sidebartagline }}<h2 class="brand-tagline">{{ .Site.Params.sidebartagline }}</h2>{{ end }}

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><span class="nav-item-separator">//</span><a href="{{ .Site.BaseURL }}">Home</a></li>
        {{ range .Site.Menus.main }}
          <li class="nav-item"><span class="nav-item-separator">//</span><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>

    {{ if .Site.Menus.social }}
    <div class="social-buttons">
      {{ range .Site.Menus.social }}
        {{ if .URL }}
        <a href="{{ .URL }}" target="_blank">{{ .Pre }}</a>
        {{ end }}
      {{ end }}
      
    </div>
    {{ end }}

  </div>

  {{ if .Site.Params.sidebarbackground }}
    <div class="sidebar-background-overlay"></div>
    <div class="sidebar-background"></div>
  {{ end }}
</div>

<style type="text/css">
  .sidebar-background-overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: rgba(0, 0, 0, 0.8);
      z-index: -1;
  }
  .sidebar-background {
      position: absolute;
      background: url("{{ .Site.Params.sidebarbackground }}");
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: -2;
  }
</style>
